__pycache__/
.env
chroma/
logs/*.jsonl

debug_log.jsonl
rag_debug_fresh.jsonl


nginx/nginx.conf
nginx/dev.conf
nginx/zz_dev.conf
docker-compose.override.yml

actual_prompts.json
~$ Sprint 3 Kickoff.docx
backend/old_realtime_chat.py
backend/old_main.py

# Ignore frontend dev files
vite.config.js
.DS_Store
node_modules/docker.compose.override.yml
backend/logs/*.jsonl