__pycache__/
.env
chroma/
debug_log.jsonl
rag_debug_fresh.jsonl
rag_debug.jsonl
nginx/nginx.conf
docker-compose.override.yml
nginx/dev.conf
nginx/zz_dev.conf

# Ignore frontend dev files
vite.config.js
frontend/
.DS_Store
*.log
node_modules/
